@model IEnumerable<BooklistLib.DTOsDAL.BookDTO>;
@{
        ViewBag.Title = "Book Index";
}
<h1>List of all books yeeey</h1>

@foreach (var book in Model)
{
    <div>

        Title: @book.Title<br />
        Author:  @book.Author<br />
        Genre: @book.Genre<br />
        Cover: @book.Cover <br />
        Extra information: @book.ExtraInfo <br />
        Rating: @book.Rating <br />
    </div>
}

