@model IEnumerable<BooklistLib.Models.BookModel>;

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<div>
    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Genre</th>
                <th>Rating</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var book in Model)
            {
                <tr>
                    <td>@book.Title</td>
                    <td>@book.Author</td>
                    <td>@book.Genre</td>
                    <td>@book.Rating</td>
                    <td class="btn-group">
                        <a asp-controller="Book" asp-action="Details" asp-route-id="@book.Id" class="btn btn-secondary" role="button">Details</a>
                    </td>
                </tr>
            }
            <tr>
                <td>
                    <a asp-controller="Book" asp-action="Create" class="btn btn-secondary" role="button">Add book</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>