@model IEnumerable<BooklistLib.Models.BookListModel>

@{
    ViewData["Title"] = "Details";
}

<h1>List</h1>

<p>
    <a asp-action="CreateBookList">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>
            <td>
                <a asp-controller="Book" asp-action="Details" asp-route-id="@item.BookId" class="btn btn-secondary" role="button">Details</a> |
                <a asp-controller="List" asp-action="DeleteBook" asp-route-id="@item.BookId" class="btn btn-secondary" role="button">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
